@import "tailwindcss";
@plugin "daisyui";
a.active{
    @apply border-b-2 border-b-blue-800
  }
  @custom-variant dark (&:where(.dark, .dark *));

  body {
  background-color: #fefdfb;
  color: black;
}


.dark body {
  background-color: #403243;  
  color: #1f2937;             
}